<div class="single-movie">
{{#with movie}}
    <img src="{{image}}" alt="{{title}}">
    <div>
        <a href="/movies">Go back</a>
        <h2>{{title}}</h2>
        <h3>{{director}}</h3>
        <h4>{{stars}}</h4>
        <ul>
            {{#each this.stars}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
        <p>{{description}}</p>
        {{#each this.showtimes}}
            <span>{{this}} |</span>
        {{/each}}
    </div>
{{/with}}
</div>